---
import Layout from '../layouts/Layout.astro';
import PhotoGallery from '../components/PhotoGallery.astro';
import { rajdnwPhotos2024 } from '../data/rajdnw-photos';
import NWRegistry from '../components/NWRegistry.astro';

const eventDate = '26.04.2025';
const eventNumber = 'III';
//const ytPreviewLink = 'https://www.youtube.com/embed/ftF3hJ-Qfcc'; 
---

<Layout title="Zatyrani - III Zatyrany Rajd Nordic Walking">
  <!-- Hero Section -->
  <div class="relative h-[60vh] flex items-center justify-center text-white">
    <div class="absolute inset-0">
      <img
        src="rajdnw/2024/header.webp"
        alt="Tło rajdu"
        class="w-full h-full object-cover"
      />
      <div class="absolute inset-0 bg-black/50"></div>
    </div>
    <div class="relative text-center space-y-4">
      <div class="px-8rounded-lg mx-auto max-w-full">
        <h1 class="text-5xl font-bold text-white">{eventNumber} Zatyrany Rajd Nordic Walking</h1>
      </div>
      
      <div class="px-8 py-4 rounded-lg mx-auto inline-block">
        <h1 class="text-3xl font-bold text-white">{eventDate}</h1>
      </div>
      
      <div>
        <!-- <a
          href="https://www.facebook.com/events/907035574965780"
          target="_blank"
          class="inline-block bg-blue-600 hover:bg-blue-700 text-white px-8 py-3 rounded-full"
        >
          Wydarzenie
        </a> -->
        <a
          href="#zapisy"
          class="mt-32 inline-block bg-green-600 hover:bg-green-700 text-white px-8 py-3 rounded-full"
        >
          Zapisz się!
      </a>
      </div>
    </div>
    
    
    
  </div>

  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16">
    <!-- Event Details -->
    <div class="grid gap-12">
      <!-- Video Section -->
      <!-- <div>
        <div class="aspect-video rounded-lg overflow-hidden">
          <iframe
            width="100%"
            height="100%"
            src={ ytPreviewLink }
            title="Wilczy Półmaraton"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div> -->
    
      <!-- Text Section -->
      <div class="flex items-center">
        <div class="space-y-6 text-xl">
          <p class="text-gray-700">
            Trasa rajdu jest w trakcie ustalania. Obserwój naszą stronę.
          </p>
        </div>
      </div>
    </div>
    
  </div>


  
  
  
    <!-- Photos Section -->
    <section class="max-w-7xl mx-auto">
      <h2 class="text-3xl font-bold text-center mb-10">Zdjęcia z 2024</h2>
      <PhotoGallery photos={rajdnwPhotos2024} />

    </section>

    <!-- Race Office Location -->
    <!-- <section class="mt-16">
      <h2 class="text-3xl font-bold text-center">Biuro zawodów</h2>
      <div class="max-w-3xl mx-auto">
        <p class="mt-4 mb-2 text-gray-600 text-center">
          Dom Kultury w Wilczy, Karola Miarki 123, 44-189 Wilcza
        <div class="aspect-[16/9] rounded-lg overflow-hidden shadow-md">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d796.6238701372778!2d18.59522346969745!3d50.188842198221465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471137d1988015fd%3A0xa1e08547df1cdfa8!2sDom%20Kultury%20w%20Wilczy%20(biuro%20GOK%20Pilchowice)!5e1!3m2!1sen!2spl!4v1735845595802!5m2!1sen!2spl"
            width="100%"
            height="100%"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </section>     -->

    <section class="mt-16">
      <h2 id="zapisy" class="text-3xl font-bold text-center">Zapisz się</h2>
      <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        <p>
          Liczba miejsc jest ograniczona. Zapisz się już teraz!
        </p>
     </div>
     <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 mt-0 mb-4">
       <p>
          Jeżeli masz jakieś pytania, skontaktuj się z nami pod numerem telefonu organizatora:
       </p>
   
       <hr class="my-4 border-t border-gray-300" />
     </div>
     
     <NWRegistry />
    </section>
  </div>
</Layout>