---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
import MemberCard from '../components/MemberCard.astro';
import { members } from '../data/members';
---

<Layout title="Zatyrani - Wszyscy Członkowie">
  <PageHeader
    title="Wszystkie Zatyrusy"
    subtitle="Cała ekipa wchodząca w skład Zatyranych"
    background='pink'
  />

  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16">
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-4">
      {members.map((member) => (
        <MemberCard {...member} />
      ))}
    </div>
  </div>
</Layout>