---
import { TSHIRT_SIZES } from "../../utils/niebocross/constants";

interface Props {
  value?: string;
  name?: string;
  t: (key: string) => string;
}

const { value = "", name = "tshirtSize", t } = Astro.props;
---

<select
  name={name}
  class="mt-1 block w-full rounded-lg border-emerald-300 border-2 shadow-sm focus:border-emerald-500 focus:ring-emerald-500"
>
  <option value="">{t("niebocross.form.no_tshirt")}</option>
  {TSHIRT_SIZES.map((size) => (
    <option value={size} selected={value === size}>{size}</option>
  ))}
</select>
