---
---

<section class="mt-24">
  <h2 class="text-2xl font-bold text-center mb-8">Masz jakieś pytania?</h2>
  <p class="text-center text-gray-600 mb-8">
    Chcesz do nas dołączyć? a może masz ochotę nas zasponsorować?
  </p>
  <p class="text-center text-gray-600 mb-8">
    Napisz maila do 
    <a href="mailto:aro89@gazeta.pl" class="text-purple-600 hover:text-purple-800">
      aro89@gazeta.pl
    </a>
  </p>
</section>